.home {
  display: flex;
  align-items: center;
  gap: 20px; 
  width: 100%;
}

.image {
  width: 50%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  text-align: center;
}